{% extends '../index.html' %}
{% load static %}

{% block content %}




<div class="flex justify-center">
    <div class="m-10  px-[200px] bg-oscuro  rounded-lg">

        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 mt-5 rounded-full shadow-lg" src="{{ user.avatar.url }}"
                alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{ user.username }} {{user.is_vendor}}</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">{{ user.email }}</span>
            <div class="flex mt-4 space-x-3 md:mt-6">
                <a href="{% url 'update_profile' %}"
                class="bg-claro text-negro rounded-lg p-2">
                    Edit
                   </a>
                   <a href="{% url 'password_change' %}"
                class="bg-claro text-negro rounded-lg p-2">
                    Change Password
                   </a>
                {% if user.is_vendor == False %}
                <a href="{% url 'create_vendor' %}"
                    class="bg-claro text-negro rounded-lg p-2">
                    Vecome vendor</a>
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>
</div>



<h1 class="text-xl p-6 font-semibold text-center font-mono leading-tight tracking-tight text-negro">
    My Orders
</h1>

<div class="flex justify-center ">
    {% for order in orders %}

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class=" text-sm m-2 text-left text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg text-center font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
            Order  {{order.id}}:    {{order.customer}} {{order.email}} </p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Product name
                </th>
                <th scope="col" class="py-3 px-6">
                    Color
                </th>
                <th scope="col" class="py-3 px-6">
                    Category
                </th>
                <th scope="col" class="py-3 px-6">
                    Price
                </th>
                
                

                <th scope="col" class="py-3 px-6">
                    <span class="sr-only">Write a Review</span>
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ item.product.name }}
                </th>
                <td class="py-4 px-6">
                    {{ item.product.price }}
                </td>
                <td class="py-4 px-6">
                    Laptop
                </td>
                <td class="py-4 px-6">
                    $2999
                </td>
                
                <td class="py-4 px-6 text-right">
                    <a href="{% url 'post_review' item.product.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Review Form</a>
                </td>
               
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endfor %}

</div>




    




</div>










{% endblock %}