{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
  <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>


  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            claro: '#f4f1de',
            rojo: '#e07a5f',
            azul: '#3d405b',
            verde: '#81b29a',
            amarillo: '#f2cc8f',
            negro: '#000000',
            blanco: '#ffffff',

          }
        }
      }
    }
  </script>


</head>


<body class="bg-claro">


  {% include 'navbar.html' %}

   

    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>
    
</body>


</html>