{% load static %}
<nav class="bg-oscuro p-3 ">
    <div class="container flex flex-wrap items-center justify-between mx-auto">

        <!-- E Com -->
        <a href="/" class="flex items-center">
            <span class="self-center text-xl font-mono font-semibold whitespace-nowrap text-white">E COM </span>
        </a>


        <!-- Cart -->
        <div class="flex ">
            <a href="{% url 'cart' %}" class="flex  xl:mx-2  text-claro rounded-full" data-dropdown-placement="bottom">
                <button class="w-6 h-6 rounded-full bg-claro text-negro">{{ cart|length }}</button>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
            </a>





            {% if user.is_authenticated %}

            <!-- User Dropdown -->
            <button type="button" class="flex mx-3 text-sm rounded-full " id="user-menu-button" aria-expanded="false"
                data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <img class="w-8 h-8 rounded-full" src="{{ user.avatar.url }}" alt="user photo">
            </button>

            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-mirage divide-y rounded divide-claro"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-blanco ">{{ user.username }}</span>
                    <span class="block text-sm text-blanco ">{{ user.email}}</span>
                </div>
                <ul class="py-1" aria-labelledby="user-menu-button">

                    <a href="{% url 'my_profile' %}" class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro ">
                        Dashboard
                    </a>

                    {% if user.is_vendor == True %}

                    <a href="{% url 'vendor_products' %}" class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro ">
                        Products
                    </a>

                    <a href="{% url 'vendor_earnings' %}" class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro ">
                        Earnings
                    </a>
                    

                    {% endif %}

                    {% if user.is_staff %}

                    <li>
                        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown"
                            data-dropdown-placement="right-start" type="button"
                            class="flex justify-between items-center py-1 px-4 w-full text-blanco hover:bg-oscuro ">
                            Admin<svg
                                aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg></button>
                        <div id="doubleDropdown"
                            class="z-50 hidden my-4 text-base list-none bg-mirage divide-y rounded divide-claro">
                            <ul class="py-1"
                                aria-labelledby="doubleDropdownButton">
                                <li> 
                                    <a href="{% url 'products' %}"
                                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">Products</a>
                                </li>

                                <li>
                                    <a href="{% url 'categorys' %}"
                                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">Categorys</a>
                                </li>

                                <li>
                                    <a href="{% url 'orders' %}"
                                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">Orders</a>
                                </li>

                                <li>
                                    <a href="{% url 'users' %}"
                                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">Users</a>
                                </li>
                                <li>
                                    <a href="{% url 'news_form' %}"
                                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">News Letter</a>
                                </li>
                              
                            </ul>
                        </div>
                    </li>
                    


                    {% endif %}

                    <a href="{% url 'logout_user' %}" class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro ">
                        Sign
                        out
                    </a>

                </ul>
            </div>





            {% endif %}


            <!--- XXl Search bar -->
            <div class="relative hidden md:block mx-2">
                <div class="absolute inset-y-0 left-0 flex mb-1 items-center pl-3 pointer-events-none">

                    <svg class="w-5 h-5 text-oscuro" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd">
                        </path>
                    </svg>

                </div>

                <form method="GET" action="{% url 'search' %}">

                    <input type="text" id="search-navbar"
                        class="block w-full p-3 pl-10 text-sm text-oscuro rounded-lg bg-claro placeholder-azul  focus:ring-verde focus:border-verde"
                        placeholder="Search..." name="query">

                </form>

            </div>


            <!-- Boton Responsive -->
            <button data-collapse-toggle="navbar-search" type="button"
                class="inline-flex items-center p-2 text-sm text-claro rounded-lg md:hidden "
                aria-controls="navbar-search" aria-expanded="false">

                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                </svg>

            </button>


        </div>


        <!-- Search bar responsive!-->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <form method="GET" action="{% url 'search' %}">

                    <input type="text" id="search-navbar"
                        class="block w-full p-3 pl-10 text-sm text-oscuro rounded-lg bg-claro placeholder-azul  focus:ring-verde focus:border-verde"
                        placeholder="Search..." name="query">

                </form>
            </div>


            {% if user.is_authenticated %}



            {% else %}

            <!-- Home Login Register Buttons -->
            <a href="{% url 'login_page' %}"
                class="flex items-center bg-claro p-3 rounded-lg my-1 mx-1 justify-between  py-2 pl-3 pr-4 font-medium text-negro  md:p-2 md:w-auto  ">
                Log in</a>



            <a href="{% url 'register_page' %}"
                class="flex  items-center bg-claro p-3 rounded-lg my-1 mx-1 justify-between  py-2 pl-3 pr-4 font-medium text-negro  md:p-2 md:w-auto">
                Sign up</a>




            {% endif %}

            <a href="/"
                class="flex  items-center my-1 mx-1 justify-between  py-2 pl-3 pr-4 font-medium text-claro hover:text-amarillo  md:p-2 md:w-auto">
                Home</a>

            <!-- Categorias -->
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                class="flex  items-center my-1 mx-1 justify-between  py-2 pl-3 pr-4 font-medium text-claro hover:text-amarillo  md:p-2 md:w-auto">
                Categorys
                <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd">
                    </path>
                </svg>
            </button>

            <div id="dropdownNavbar" class="z-10 hidden font-normal bg-mirage  rounded  w-44 ">
                <ul class="py-1 text-sm text-blanco " aria-labelledby="dropdownLargeButton">
                    {% for category in menu_categorys %}

                    <a href="{% url 'category' category.slug %}"
                        class="block px-4 py-2 text-sm text-blanco hover:bg-oscuro">
                        {{ category.name }}</a>

                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</nav>