{% extends '../index.html' %}
{% load static %}

{% block content %}



<div id="indicators-carousel" class="relative mt-2 mb-4 p-[40px] bg-oscuro" data-carousel="static">

    <h1 class="text-3xl mb-2 text-center leading-tight tracking-tight text-claro">
        Newest Products {{user.username}}
    </h1>

    <div class="relative h-56 overflow-hidden mt-2 mb-4 rounded-lg md:h-96">

        {% for product in last %}
        {% if forloop.counter == 1 %}

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ product.image.url }}" width="1000" height="200"
                class="absolute block  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" >

            <div class="absolute z-30  flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                <p class="text-oscuro text-center text-3xl">{{ product.name }}</p>
            </div>

        </div>

        {% else %}

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ product.image.url }}" width="1000" height="1000"
                class="absolute block  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" >
            <div class="absolute z-30  flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                <p class="text-oscuro text-center text-3xl">{{ product.name }}</p>
            </div>

        </div>


        {% endif %}
        {% endfor %}

    </div>

    <div class="absolute z-30  flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full  bg-claro" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" class="w-3 h-3 rounded-full bg-claro" aria-current="false" aria-label="Slide 2"></button>
        <button type="button" class="w-3 h-3 rounded-full  bg-claro" aria-current="false" aria-label="Slide 3">
        </button>
    </div>


    <button type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-claro">
            <svg aria-hidden="true" class="w-5 h-5 text-verde sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
        </span>
    </button>

    <button type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-claro">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
        </span>
    </button>
</div>


<div class="grid gap-x-8 gap-y-4 grid-cols-1 p-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 2xl:grid-cols-3">

    {% for product in page_obj %}

    <div class="w-full  bg-mirage rounded-lg shadow-md bg-oscuro">
        <a href="{% url 'product' product.id %}">
            <img class="p-8 rounded-t-lg" src="{{ product.image.url }}" alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="{% url 'product' product.id %}">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                    {{ product.name }}</h5>
            </a>
            
            <div class="flex items-center text-claro mt-2.5 mb-5">
                {% if product.rating >= 1 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 0.5 %}
                <i class="bi bi-star-half"></i>
              


                {% endif %}


                {% if product.rating >= 2 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 1.5 %}
                <i class="bi bi-star-half"></i>
          

                {% endif %}



                {% if product.rating >= 3 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 2.5 %}
                <i class="bi bi-star-half"></i>
     

                {% endif %}


                {% if product.rating >= 4 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 3.5 %}
                <i class="bi bi-star-half"></i>
            

                {% endif %}

                {% if product.rating >= 5 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 4.5 %}
                <i class="bi bi-star-half"></i>
           

                {% endif %}




                {% if product.rating == None %}

                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                
                {% endif %}
                <a href="{% url 'reviews' product.id %}" class="ml-2 hover:text-amarillo">{{ product.num_reviews }} Reviews</a>

            </div>
            <div class="flex items-center justify-between">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">$ {{ product.price }}</span>
                
                <a href="{% url 'product' product.id %}"
                    class="text-negro bg-rojo hover:bg-amarillo rounded-lg  text-sm px-5 py-2.5 text-center">
                    See Product
                </a>
            </div>
        </div>
    </div>



    {% endfor %}
</div>


<div>
    <span class="">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="text-oscuro hover:text-oscuro  font-semibold">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}"
            class="text-oscuro hover:text-rosa  font-semibold">previous</a>
        {% endif %}

        <span class="text-oscuro  font-semibold">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"
            class="text-oscuro hover:text-rosa  font-semibold">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"
            class="text-oscuro hover:text-rosa  font-semibold">Last Page &raquo;</a>
        {% endif %}
    </span>
</div>








{% endblock %}