{% extends '../index.html' %}

{% load static %}

{% block content %}





<div
    class="grid gap-x-8 gap-y-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-2 flex p-4">

    <!--User Profile-->
    <div class="bg-oscuro rounded-lg">

        <div class="p-8 flex justify-center">
          <img width="900" height="900" src="{{ product.image.url }}" alt="">
        </div>

    </div>

    <!--End User Detialis-->


    <!--Hosted Rooms-->



    <!--My Rooms-->
    <div class="bg-oscuro rounded-lg p-2">


        <div class="flex flex justify-center text-claro mt-2.5 mb-5">
            <h3 class="text-2xl text-claro mr-4">{{ product.name }}</h3>
            {% if product.rating >= 1 %}
            <i class="bi bi-star-fill"></i>


            {% elif product.rating >= 0.5 %}
            <i class="bi bi-star-half"></i>



            {% endif %}


            {% if product.rating >= 2 %}
            <i class="bi bi-star-fill"></i>


            {% elif product.rating >= 1.5 %}
            <i class="bi bi-star-half"></i>


            {% endif %}



            {% if product.rating >= 3 %}
            <i class="bi bi-star-fill"></i>


            {% elif product.rating >= 2.5 %}
            <i class="bi bi-star-half"></i>


            {% endif %}


            {% if product.rating >= 4 %}
            <i class="bi bi-star-fill"></i>


            {% elif product.rating >= 3.5 %}
            <i class="bi bi-star-half"></i>


            {% endif %}

            {% if product.rating >= 5 %}
            <i class="bi bi-star-fill"></i>


            {% elif product.rating >= 4.5 %}
            <i class="bi bi-star-half"></i>


            {% endif %}




            {% if product.rating == None %}

            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>

            {% endif %}
            <a href="{% url 'reviews' product.id %}" class="ml-2 hover:text-amarillo">{{ product.num_reviews }}
                Reviews</a>

        </div>

        <!--Edit Delete Buttons-->
        <div class=" p-4">
            <div class="m-3 text-claro text-center">

                {{ product.description}}


            </div>
        </div>



        <div class="flex justify-center">





        </div>

        <div class="flex justify-center">
            <p class="text-sm  font-semibold p-2 text-claro ">

                vendedor:
                <a href="" class="text-sm  hover:text-verde font-semibold text-claro truncate dark:text-white">
                    {{ product.vendor }}
                </a>


            </p>
        </div>


        <!--Titulo Hosted Rooms-->
        <div class="mb-4">
            <div class="bg-oscuro p-4 rounded-lg text-center">


                <form method="POST" action=".">
                    {% csrf_token %}
                    <div>
                        <div class="form-control hidden">
                            <input type="number" name="quantity" value="1" class="input" min="1">
                        </div>
            
                        <div class="form-control">
                            <button class="bg-rojo text-claro rounded-lg p-5">
                                Add to cart
                        </button>
                        </div>
                    </div>
                </form>
            </div>


        </div>


    </div>
</div>


<!--End Hosted Rooms-->


</div>


{% endblock %}
