{% extends '../index.html' %}

{% load static %}

{% block content %}


<div class="flex justify-center">
    <div class="m-10 px-[100px] bg-oscuro rounded-lg">

        <div class="flex flex-col items-center py-10">

            <h5 class="mb-1 text-xl text-claro">{{ product.name }}</h5>
            <div class="flex mt-4 space-x-3 md:mt-6">
                <a href="{% url 'product' product.id  %}" class="bg-claro text-negro rounded-lg p-2">
                    See Product
                </a>

            </div>
        </div>
    </div>
</div>
 
<article>
    {% for r in reviews%}
    <div class="bg-oscuro p-3 m-3">

    <div class="flex bg-oscuro items-center mb-4 space-x-4">

        <img class="w-10 h-10 rounded-full" src="{{ r.user.avatar.url }}" alt="">
        <div class="space-y-1 font-medium dark:text-white">
            <p class="text-claro">{{ r.user }}</p>
        </div>
    </div>
    <div class="flex items-center text-claro mb-1">
        {% if r.rating >= 1 %}
        <i class="bi bi-star-fill"></i>


        {% elif r.rating >= 0.5 %}
        <i class="bi bi-star-half"></i>



        {% endif %}


        {% if r.rating >= 2 %}
        <i class="bi bi-star-fill"></i>


        {% elif r.rating >= 1.5 %}
        <i class="bi bi-star-half"></i>


        {% endif %}



        {% if r.rating >= 3 %}
        <i class="bi bi-star-fill"></i>


        {% elif r.rating >= 2.5 %}
        <i class="bi bi-star-half"></i>


        {% endif %}


        {% if r.rating >= 4 %}
        <i class="bi bi-star-fill"></i>


        {% elif r.rating >= 3.5 %}
        <i class="bi bi-star-half"></i>


        {% endif %}

        {% if r.rating >= 5 %}
        <i class="bi bi-star-fill"></i>


        {% elif r.rating >= 4.5 %}
        <i class="bi bi-star-half"></i>


        {% endif %}




        {% if r.rating == None %}

        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>

        {% endif %}
    </div>
    <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400"><p>Reviewed <time datetime="2017-03-03 19:00">{{ r.date }}</time></p></footer>
    <p class="mb-2 font-light text-gray-500 dark:text-gray-400">
     {{ r.comment }}   </p>
    </div>
</article>
{% endfor %}



        
                    






{% endblock %}