{% extends '../index.html' %}
{% load static %}

{% block content %}

<div class="flex justify-center">
    <div class="m-10 px-[100px] bg-oscuro rounded-lg">

        <div class="flex flex-col items-center py-10">

            <h5 class="mb-1 text-xl text-claro">Search for "{{ query }}"</h5>
            <div class="flex mt-4 space-x-3 md:mt-6">
                <a href="{% url 'home'   %}" class="bg-claro text-negro rounded-lg p-2">
                    Home
                </a>

            </div>
        </div>
    </div>
</div>

<div class="grid gap-x-8 gap-y-4 grid-cols-1 p-4 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-3 2xl:grid-cols-3">

    {% for product in products %}

    <div class="w-full  bg-mirage rounded-lg shadow-md bg-oscuro">
        <a href="{% url 'product' product.id %}">
            <img class="p-8 rounded-t-lg" src="{{ product.image.url }}" alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a href="{% url 'product' product.id %}">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                    {{ product.name }}</h5>
            </a>
            
            <div class="flex items-center text-claro mt-2.5 mb-5">
                {% if product.rating >= 1 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 0.5 %}
                <i class="bi bi-star-half"></i>
              


                {% endif %}


                {% if product.rating >= 2 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 1.5 %}
                <i class="bi bi-star-half"></i>
          

                {% endif %}



                {% if product.rating >= 3 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 2.5 %}
                <i class="bi bi-star-half"></i>
     

                {% endif %}


                {% if product.rating >= 4 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 3.5 %}
                <i class="bi bi-star-half"></i>
            

                {% endif %}

                {% if product.rating >= 5 %}
                <i class="bi bi-star-fill"></i>


                {% elif product.rating >= 4.5 %}
                <i class="bi bi-star-half"></i>
           

                {% endif %}




                {% if product.rating == None %}

                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                
                {% endif %}
                <a href="{% url 'reviews' product.id %}" class="ml-2 hover:text-amarillo">{{ product.num_reviews }} Reviews</a>

            </div>
            <div class="flex items-center justify-between">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">$ {{ product.price }}</span>
                
                <a href="{% url 'product' product.id %}"
                    class="text-negro bg-rojo hover:bg-amarillo rounded-lg  text-sm px-5 py-2.5 text-center">
                    See Product
                </a>
            </div>
        </div>
    </div>



    {% endfor %}
</div>
{% endblock %}
